<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="public">
      <directory>tests/Public</directory>
    </testsuite>
    <testsuite name="hidden">
      <directory>tests/Hidden</directory>
    </testsuite>
  </testsuites>
</phpunit>
